body {
    font-family: "Montserrat", sans-serif
}

h1, h2, h3, h4, h8 {
    font-family: "Montserrat", sans-serif
}


h, h1, h2, h3, h4, h5, h8 {
    color: #333;
}

.w3-burgundy {
    color: #fff !important;
    background-color: #940f0f !important
}

@media screen and (min-width: 601px) {
    p, body, html {
        height: 100%;
        color: #555;
        line-height: 2;
        font-size: 14px;
    }

    h1 {
        font-size: 16px
    }

    h2 {
        font-size: 21px
    }

    h3 {
        font-size: 24px
    }

    h4 {
        font-size: 28px
    }

    h8 {
        font-size: 36px
    }
}


@media screen and (max-width: 600px) {
    p, body, html {
        height: 100%;
        color: #555;
        line-height: 1.7;
        font-size: 14px;
    }

    h1 {
        font-size: 14px
    }

    h2 {
        font-size: 19px
    }

    h3 {
        font-size: 22px
    }

    h4 {
        font-size: 25px
    }

    h8 {
        font-size: 30px
    }
}

.w3-bar, h1, button {
    font-family: "Montserrat", sans-serif
}

.w3-half img:hover {
    opacity: 1
}


.w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
}
